<div class="modal-dialog modal-lg" role="document" id="additionalSourceSyntaxDialog">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-cancel"></i></button>
            <h3 class="margin-bottom margin-bottom-lg margin-top">Additional Sources & Assemblies</h3>
            <div class="margin-top margin-top-lg margin-bottom margin-bottom-lg">
                <div class="margin-bottom">
                    The Map & Reduce index methods can reference code from external source files.<br>
                    In order for the index to compile, the relevant sources must be uploaded to the index definition.
                </div>
                <div>
                    Additional source files can be uploaded in the <strong>Additional Sources Tab</strong>.<br>
                    Additional assemblies that are referenced can be added in the <strong>Additional Assemblies Tab</strong>.
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="margin-top">
                        <strong>C# </strong>Example:
                    </h3>
                    <pre data-bind="html: additionalSourceCsharpHtml"> 
                    </pre>
                    <pre data-bind="html: usageInMapCsharpHtml">
                    </pre>
                </div>
                <div class="col-lg-6">
                    <h3 class="margin-top">
                        <strong>JavaScript </strong>Example:
                    </h3>
                    <pre data-bind="html: additionalSourceJavascriptHtml">
                    </pre>
                    <pre data-bind="html: usageInMapJavascriptHtml">
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
