<div class="spatial-map absolute-fill">

    <!--    todo...-->
    <h2 class="text-center">Spatial Map for query.... list the query ....</h2>

<!--    <div class="time-series-legend scroll">        -->
<!--        <h4 class="ts-legend-header">LEGEND</h4>-->
<!--        -->
<!--        <div class="flex-grow" style="position: relative">-->
<!--            <div data-bind="foreach: geoData">-->
<!--                <div data-bind="text: geoField().parentPropertyName" class="section-name"></div>-->

<!--&lt;!&ndash;                <div class="legend" data-bind="foreach: series">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="checkbox">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="checkbox" data-bind="attr: { id: uniqueId }, checked: visible" />&ndash;&gt;-->
<!--&lt;!&ndash;                        <label data-bind="attr: { for: uniqueId }">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span data-bind="attr: { class: $root.getColorClass($data) + ' ' + $parent.type }">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i data-bind="attr: { class: $root.getIcon($parent.type) }" class="icon-graph"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span data-bind="text: name"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                -->
<!--            </div>-->
<!--        </div>        -->
<!--    </div>-->

    <div class="custom-popup" id="mapid"></div>

<!--    <div class="tooltip ts-tooltip" style="opacity: 0; display: none"></div>-->

</div>


<!--<div class="time-series-details absolute-fill">-->
<!--    -->
<!--&lt;!&ndash;    todo...&ndash;&gt;-->
<!--    -->
<!--    <div class="dynamic-container">-->
<!--        -->
<!--    </div>-->
<!--    -->
<!--    <div class="time-series-legend scroll">-->
<!--        <div class="checkbox margin-bottom margin-bottom-lg">-->
<!--            <input id="connectPoints" class="styled" type="checkbox" data-bind="checked: connectPoints">-->
<!--            <label for="connectPoints">-->
<!--                Connect Points-->
<!--            </label>-->
<!--        </div>-->
<!--        <h4 class="ts-legend-header">LEGEND</h4>-->
<!--        <div class="flex-grow" style="position: relative">-->
<!--            <div data-bind="foreach: allTimeSeries">-->
<!--                -->
<!--                <div data-bind="text: sectionName" class="section-name"></div>-->
<!--                -->
<!--                <div class="legend" data-bind="foreach: series">-->
<!--                    <div class="checkbox">-->
<!--                        <input type="checkbox" data-bind="attr: { id: uniqueId }, checked: visible" />-->
<!--                        <label data-bind="attr: { for: uniqueId }">-->
<!--                            <span data-bind="attr: { class: $root.getColorClass($data) + ' ' + $parent.type }">-->
<!--                                <i data-bind="attr: { class: $root.getIcon($parent.type) }" class="icon-graph"></i>-->
<!--                            </span>-->
<!--                            <span data-bind="text: name"></span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="color-definitions">-->
<!--        <div class="color-1"></div>-->
<!--        <div class="color-2"></div>-->
<!--        <div class="color-3"></div>-->
<!--        <div class="color-4"></div>-->
<!--        <div class="color-5"></div>-->
<!--        <div class="color-6"></div>-->
<!--        <div class="color-7"></div>-->
<!--        <div class="color-8"></div>-->
<!--        <div class="color-9"></div>-->
<!--        <div class="color-10"></div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="tooltip ts-tooltip" style="opacity: 0; display: none">-->
<!--    </div>-->
<!--    -->
<!--</div>-->
