<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title">Document warnings</h4>
        </div>
        <div class="modal-body">
            The following detected warnings might affect the document data:
            <table class="table margin-top margin-top-lg">
                <thead>
                <tr>
                    <th> </th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: warnings">
                    <tr>
                        <td>
                            <i class="icon-warning text-warning"></i>
                        </td>
                        <td nowrap="nowrap">
                            <a href="#" class="text-warning" data-bind="click: $root.goTo.bind($root, $data)" title="Go to warning in document editor">
                                <span data-bind="text: $root.warningLocation($data)"></span>
                            </a>
                        </td>
                        <td>
<!--                        <span data-bind="text: text"></span>-->
                            <span data-bind="html: text"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="button" class="btn btn-primary" data-bind="click: confirm">Save anyway</button>
        </div>
    </div>
</div>
